example_data/151_2019_07_29_TIRF_mKera_scratch_1_MMStack_Pos7.ome_DIC.tif
example_data/151_2019_07_29_TIRF_mKera_scratch_1_MMStack_Pos7_piezo1.tif
example_data/151_2019_07_29_TIRF_mKera_scratch_Pos7_DIC_Mask_test.tif
